

/* font*/
 @import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@300;500;700&family=Jost:wght@200;600;700;900&family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600&family=Roboto:wght@100&display=swap');

/*  font-family: 'DM Serif Display', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Jost', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;

/*variable*/
:root {
    --firstColor: #162083;
    --segondColor:#92C7CF;
    --thirdColor: #AAD7D9;
    --fourthColor:#FBF9F1 ;
    --fiveColor:#4a4a4a;

    --gaeguFont: 'Gaegu', sans-serif;
    --robotoFont: 'Roboto', sans-serif;
    --jostFont: 'Jost', sans-serif;
    --playFairFont: 'Playfair Display', serif;
}

/* REGLES GENERALES */

/* flex box */

.flex { 
    display: flex;
    flex-wrap: wrap;
}

.justifyBetween {
    justify-content: space-between;
}

/* balise commune */

body { 
    font-family: var(--robotoFont);
    color: var(--fiveColor);
   
}

/* h2 non gerable en generale car bulma prend le dessus*/
.histoire h2, .profil h2, .chapeaux h2, .avis h2 {
    font-size: 3rem;
    color: var(--firstColor);
    margin-bottom: 1%;
    font-family: var(--playFairFont);
}

.histoire h3, .profil h3, .chapeaux h3, .avis h3 {
    font-family: var(--jostFont);
    font-size: 1.5rem;
    margin-bottom: 6%;
    color: var(--segondColor);
    font-weight: 600;
}

.avis h4 {   
    color: var(--firstColor);
    font-size: 1.5rem;
}

li {
    list-style-type: none
}

a {
    text-decoration: none;
}

.width100 {
    width: 100%;
}

.width25 {
    width: 25%;
}

span {
    color: var(--segondColor);
}

/* lien hyper text generaux */

/* Couleur du texte pour les liens non visités */
/* a:link { color:var(--fiveColor);} */
/* Couleur du texte pour les liens visités */
a:visited { color:var(--segondColor);}
/* Soulignement au survol */
a:hover { font-size: 1.1rem;}

a:hover i { font-size: 2.3rem;}
/* Couleur du texte lorsque le lien est activé (clic) */
a:active { color:var(--fiveColor);}
/* padding et marge generale */
.histoire, .profil, .chapeaux, .avis , .intro {
    padding: 5% 15% 5% 15%
}

/*HEADER*/
.nav-central {
    width: 90%;
}
.nav-central ul {
    list-style: none;
    gap: 5%;
}
/* nav bar et modale */
.nav-bar {
    position: fixed;
    top:0;
  justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    height: 70px;
    z-index: 2;
    background-color: var(--fourthColor);
    width: 100%;
}
.logo img {
    width: 60px;
    height: auto; 
}

/* link*/
.nav-central a, .nav-height a {
    color: var(--segondColor);
    font-weight: bold;
    
} 
.nav-central li:hover, .nav-height li:hover { 
    border: 2px solid var(--firstThree);
}
/* link*/ 
.nav-right li, .logo, .nav-bottom li {
    padding: 0px 10px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out; 
}
/* nav*/ 
.nav-right ul {
    padding-right: 40px;
}
.nav-right li:hover, .logo:hover, .nav-bottom li:hover { 
    opacity: 0.7;
}
.nav-right img, .nav-bottom img {
    width: 20px;
    height: auto; 
}
/* burger*/
.header-burger {
    display: none;
}

/* nav chagement de typo */
#btn-typo {
    padding: 7px 3px;
    border: 1px solid var(--firstThree);
    border-radius: 5px;
    background-color: var(--firstOne);
    color: var(--firstThree);
    font-size: 12px;
    width: 120px;
}
.newTypo {
    font-family: var(--typoAccLuciole);
    line-height:1.5 ;
}

/* modal */
.header-modal {
    position: fixed;
    top: 50px;
    left: 0px;
    width: 200px;
    padding: 8px;
    height: calc(100vh - 50px);
    transform: translateX(-200px);
    z-index: 2;
    background-color: var(--fourthColor);
    transition: transform 0.8s ease-in-out; 
}
.nav-height {
    margin-top: 20px;
}
.nav-bottom ul {
    list-style: none;
    padding-left: 4%;
    gap: 20px;
    margin-top:30px; 
}
.header-modal #btn-typo {
    display: block;
    margin: 20px auto;
}

.hero { 
    position:relative;
    background-image: url("../images/banniere.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero h1 { 
    font-size: 1.8rem;
    color: var(--fourthColor);
    font-family: var(--jostFont);  
}

.hero h2 {
    position: relative;
    top: 85%;
    width: 100%;
    font-size: 4rem;
    font-weight: 700;
    color: var(--fourthColor);
    text-align: center;
    /* background-color: rgba(251, 249, 241, 0.2); */
}

/* hero image ronde et position */ 
.positionImg1 div {
    position: relative;
}

.positionImg1 { position: absolute; width: 5%; top:10%; left: 2%; }
.positionImg2 { position: absolute; width: 5%; top:20%; left: 7%; }
.positionImg3 { position: absolute; width: 5%; top:30%; left: 2%; }
.positionImg4 { position: absolute; width: 5%; top:40%; left: 7%; }
.positionImg5 { position: absolute; width: 5%; top:50%; left: 2%; }
.positionImg6 { position: absolute; width: 5%; top:60%; left: 8%; }
.positionImg7 { position: absolute; width: 5%; top:60%; left: 15%; }


.imgRonde {
    border-radius: 50%;
}

/* animation apparition / disparition */

@keyframes apparition {
    0%, 15% {
        opacity: 0; /* Image complètement visible pendant 15% de l'animation */
    }
    50% {
        opacity: 1; /* Image invisible à mi-chemin de l'animation */
    }
    85%, 100% {
        opacity: 0; /* Image complètement visible pendant les 15% restants de l'animation */
    }
  }

@keyframes disparition {
    0%, 15% {
        opacity: 0; /* Image complètement visible pendant 15% de l'animation */
    }
    50% {
        opacity: 1; /* Image invisible à mi-chemin de l'animation */
    }
    85%, 100% {
        opacity: 0; /* Image complètement visible pendant les 15% restants de l'animation */
    }
}
  
  .imageAnim1 img {
    animation: apparition 2s ease-in-out forwards;
    animation-duration: 15s; /* Durée d'affichage */
    animation-delay: 0s; /* Durée de non-affichage */
    animation-iteration-count: infinite; /* Répéter l'animation indéfiniment */
  }

  .imageAnim2 img {
    animation: apparition 2s ease-in-out forwards;
    animation-duration: 10s; /* Durée d'affichage */
    animation-delay: 2s; /* Durée de non-affichage */
    animation-iteration-count: infinite; /* Répéter l'animation indéfiniment */
  }

  .imageAnim3 img {
    animation: apparition 2s ease-in-out forwards;
    animation-duration: 5s; /* Durée d'affichage */
    animation-delay: 0s; /* Durée de non-affichage */
    animation-iteration-count: infinite; /* Répéter l'animation indéfiniment */
  }

  .imageAnim4 img {
    animation: apparition 2s ease-in-out forwards;
    animation-duration: 10s; /* Durée d'affichage */
    animation-delay: 3s; /* Durée de non-affichage */
    animation-iteration-count: infinite; /* Répéter l'animation indéfiniment */
  }

  .imageAnim5 img {
    animation: apparition 2s ease-in-out forwards;
    animation-duration: 15s; /* Durée d'affichage */
    animation-delay: 1s; /* Durée de non-affichage */
    animation-iteration-count: infinite; /* Répéter l'animation indéfiniment */
  }

  .imageAnim6 img {
    animation: apparition 2s ease-in-out forwards;
    animation-duration: 10s; /* Durée d'affichage */
    animation-delay: 0s; /* Durée de non-affichage */
    animation-iteration-count: infinite; /* Répéter l'animation indéfiniment */
  }

  .imageAnim7 img {
    animation: apparition 2s ease-in-out forwards;
    animation-duration: 10s; /* Durée d'affichage */
    animation-delay: 4s; /* Durée de non-affichage */
    animation-iteration-count: infinite; /* Répéter l'animation indéfiniment */
  }
  

/* intro*/
.intro {
    position: relative;
    align-items: center;
    height: 100vh;
    line-height: 1.5;
}

.intro h1 {
    width: 100%;
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    color: var(--firstColor);
    font-family: var(--playFairFont);

}

.intro span {
color: var(--segondColor);
}

/* histoire*/
.histoire {
   
   
}

.histoire p {
    margin-top: 3%;

}
.texthistoire {
    width: 47%;
    flex-direction: column;
}

.imagehistoire {
    width: 47%;
    max-height: 70%;
}

.histoire img {
    width: 100%;
    object-fit: contain; /* remplir tous l'element parent */
    border-radius: 5px;
    width: 100%; 
}

.histoire a {
    background-color: var(--fourthColor);;
    border-radius: 5px;
    color: var(--segondColor);
    font-family: var(--jostFont);
    font-weight: 600;
    padding: 1%;
    width: 25%;
    margin-top: 5%;
    text-align: center;
    margin-top: 10%

}

/* profil */
.profil>div {
    gap:5%
}
.card { 
    width:46%;
    margin-bottom: 5%;
}

.card-content {
    padding-left:1%;
    padding-right:1%;
}

.card .liste {
    margin-left: 0em;
    padding: 0 7%;
}

.card i {
    font-size: 30px;
}

.profil span {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.profil i {
    color: var(--segondColor);
}
/* 80 chapeaux */

/* grid cssgrid-generator*/

.parent {
display: grid;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 3px;
grid-row-gap: 3px;
height: 100vh;
}

.div1 { grid-area: 1 / 1 / 3 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 4; }
.div3 { grid-area: 1 / 4 / 2 / 5; }
.div4 { grid-area: 1 / 5 / 2 / 6; }
.div5 { grid-area: 1 / 6 / 2 / 8; }
.div6 { grid-area: 1 / 8 / 2 / 9; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 4 / 3 / 6; }
.div9 { grid-area: 2 / 6 / 3 / 7; }
.div10 { grid-area: 2 / 7 / 4 / 9; }
.div11 { grid-area: 3 / 1 / 4 / 2; }
.div12 { grid-area: 3 / 2 / 4 / 3; }
.div13 { grid-area: 3 / 3 / 4 / 4; }
.div14 { grid-area: 3 / 4 / 4 / 5; }
.div15 { grid-area: 3 / 5 / 5 / 7; }
.div16 { grid-area: 4 / 1 / 6 / 2; }
.div17 { grid-area: 4 / 2 / 6 / 4; }
.div18 { grid-area: 4 / 4 / 5 / 5; }
.div19 { grid-area: 5 / 4 / 6 / 5; }
.div20 { grid-area: 5 / 5 / 6 / 6; }
.div21 { grid-area: 5 / 6 / 6 / 7; }
.div22 { grid-area: 4 / 7 / 5 / 8; }
.div23 { grid-area: 4 / 8 / 5 / 9; }
.div24 { grid-area: 5 / 7 / 6 / 9; } 

.parent > div {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; /* masque si l'enfant depasse de l'element parent. Je ne comprend pas pourquoi si j'enleve le owerflow mon footer passe par dessus la grid */
    
}
.parent img {
    width: 100%; /* Ajuste la largeur de l'image pour remplir la div */
    height: 100%;/* Ajuste la hauteur de l'image pour remplir la div */
    object-fit: cover; /* remplir tous l'element parent */
}

.chapeaux span {
    font-size: 1.4rem;

}

/* avis */

.avis {
    gap:1%;
}

.avis div {
    width: 19%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.avis h3 {
    width: 100%;
}

.avis img {
    border-radius: 4px;
    margin-bottom: 4%;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
}

.avis div p {
    margin-top: 15%;
    color: var(--segondColor);
    font-weight: 700;
}

.avis a {
    background-color: var(--fourthColor);;
    border-radius: 5px;
    color: var(--segondColor);
    font-family: var(--jostFont);
    font-weight: 600;
    padding: 2% 3% 2% 3%;
    width: 80%;
    margin-top: 5%;
    text-align: center;
}

/* footer */
footer {
    height: 100vh;
    padding: 5% 15%;
    background-color: var(--firstColor);
    color: var(--fourthColor);
    align-content: center;
    
}

.width50 {
    width: 40%;
}

footer div h3 {
    font-size: 1.5rem;
    color: var(--firstColor);
    margin: 0 0 1% 0;
    color: var(--fourthColor);
}

footer p {
    margin-bottom: 0%;
}

    /* gestion des a */
    
   footer  ul { 
        padding: 10% 0;
        gap:15%  
   }

    footer  ul li i { 
        font-size: 2rem ;
        color: var(--fourthColor);
    }


    @media all  and (min-width:900px) and  (max-width:1250px){

         /* HEADER */

    .nav-central {
        display: none;
    }
    .header-modal--is-open {
        transform: translateX(0); 
    }
    .header-burger--is-open {
        display: block;
    }


        /* histoire */

        .texthistoire  {
            width: 100%;
        }
        .imagehistoire {
            display: none;
        }

        

    }

    @media all  and (min-width:300px) and  (max-width:900px){
        
        /* HEADER */

        .nav-central {
            display: none;
        }
        .header-modal--is-open {
            transform: translateX(0); 
        }
        .header-burger--is-open {
            display: block;
        }



        .intro h1{
            font-size: 30px;
        }
        .intro h1 {
            font-size: 30px;
        }
        .texthistoire  {
            width: 100%;
        }
        .imagehistoire {
            width: 100%;
            order:-1;
        }
        .hero h2 {
            top: 45%;
        }
        .card {
            width: 100%;
        }
        .avis div {
            width: 100%;
        }
        #about div {
            width: 100%;
        }

    }